@font-face {
 font-family: Light;
 src: url("../fonts/HelveticaLight/HelveticaLight.eot");
 src: url("../fonts/HelveticaLight/HelveticaLight.eot#iefix") format("embedded-opentype"),
      url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
      url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: HMedium;
 src: url("../fonts/HelveticaLight/HelveticaMedium.eot");
 src: url("../fonts/HelveticaLight/HelveticaMedium.eot#iefix") format("embedded-opentype"),
      url("../fonts/HelveticaLight/HelveticaMedium.woff") format("woff"),
      url("../fonts/HelveticaLight/HelveticaMedium.ttf") format("truetype");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: Regular;
 src: url("../fonts/HelveticaLight/HelveticaRegular.eot");
 src: url("../fonts/HelveticaLight/HelveticaRegular.eot#iefix") format("embedded-opentype"),
      url("../fonts/HelveticaLight/HelveticaRegular.woff") format("woff"),
      url("../fonts/HelveticaLight/HelveticaRegular.ttf") format("truetype");
 font-weight: normal;
 font-style: normal;
}


body {
    font-family: Light;
    color: #0f4359;
}
h1, h3 {
    text-transform: uppercase;
}


@media (min-width: 768px) { 
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 21px;
    }
}
h5 {
    font-family: Regular, sans-serif;
}
p {
    font-size: 17px;
    line-height: 21px;
}
hr {
    border: 2px solid #f0c852;
}
a {
    color: #75b7a6;
}
a:hover {
    color: #f0c852;
    text-decoration: none;
}


.bottom-3em {
    margin-bottom: 3em;
}
.bottom-2em {
    margin-bottom: 2em;
}
.bottom-1em {
    margin-bottom: 1em;
}


.yellowMassageBox {
    display: inline-block;
    background-color: #f0c852;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    padding: 0.4em 0.2em 0 0.2em;
}
.yellowMassageBox:after {
    display: block;
    content: "";
    position: relative;
    bottom: -0.4em;
    margin: auto;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #f0c852;
}
.yellowMassageBox span {
    font-size: 85px;
    display: block;
    line-height: 60px
}
.yellowMassageBox p {
    font-size: 21px;
    text-transform: lowercase;
}

.gray {
    background: #eee;
}

.btn-info {
    font-size: 14px;
    padding: 1em;
    background-color: #0f4359;
    display: block;
    border-radius: 40px;
    margin: auto;
    font-family: Regular, sans-serif;
    text-transform: uppercase;
}
.btn-info:hover {
    background-color: #0f4359;
    border: 1.5px solid #fff;
}
.btn-success {
    background-color: #4bb257;
    display: block;
    border-radius: 40px;
    border: 3px solid #fff;
    margin: auto;
    padding: 0.8em 0;
    font-family: Regular, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.btn-lg {
    width: 270px;
    height: 50px;    
    font-size: 14px;
}
@media (min-width: 768px) { 
    .btn-lg {
        width: 350px;
        height: 60px;    
        font-size: 18px;
    }
}
.btn-success:hover {
    border-color: #f0c852;
}




/* HEADER */
.navbar-white {
    padding: 0.2em;
    background-color: #fff;
}
.navbar-brand {
    padding-bottom: 3.5em;
}
@media (min-width: 768px) { 
    .navbar-brand {
        padding-bottom: 3em;
        padding-top: 0.4em;
    }
}
.navbar span {
    float: left;
}
        .navbar a {
            font-family: HMedium, sans-serif;
            font-size: 21px;
            color: #75b7a6;
            letter-spacing: 0.03em;
        }
            .navbar a:hover {
                color: #f0c852;
                text-decoration: none;
            }






/* FOOTER */
footer {
    background-color: #0f4359;
    padding-top: 2em;
}
footer .col-sm-6 {
margin-bottom: 2em;
}
footer img {
    float: left;
    margin-right: 20px;
        margin-top: 0.5em;
}
footer a img {
    margin-top: 0;
}
    footer p {
        margin-top: 0.5em;
        color: #75b7a6;
    }
    footer .white, footer a {
        color: #fff;
    }
    footer .phone {
        font-family: HMedium, sans-serif;
        font-size: 21px;
        letter-spacing: 0.03em;
    }




/* autumn */
.autumn {
    margin-top: 80px; 
    background: url(../img/bg_1.jpg) bottom center;
    background-size: cover;
    height: 88vh;
    min-height: 600px;
}
.autumn .container {
    position: relative;
    height: 100%;;
    text-align: center;
}
.autumn .row {
    position: absolute;
    bottom: 0;
    width: 100%;
}
@media (min-width: 768px) { 
    .autumn img {
        margin: 30px 15px;
    }
}
.autumn img {
    margin: 30px 10px;
}
@media (min-width: 1400px) { 
    .autumn h1 {
        margin: 1em auto;
    }
    .autumn .btn {
        margin: 1em auto;
    }
}




/* LOWCOST */
.lowcost .flex {
    display: flex;
    justify-content: space-around;
    padding:  1em;
}
.lowcost .gray {
    max-width: 18%;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    margin: 0 1em;
}
.lowcost .yellowMassageBox {
    margin: 1em auto;
}
.lowcost .flex img {
    width: auto;
}

.lowcost .item .gray {
    max-width: 200px;
    width: 50%;
    height: 550px;
}
.carousel-control.left {
    background: none;
}
.carousel-control.right {
    background: none;
}
.carousel-indicators {
    bottom: -1em;
}
.carousel-indicators li {
    background: #616161;
}
.carousel-indicators .active {
    background: #75b7a6;
}



/* ALSO */
.also .gray {
    text-align: center;
    border-radius: 4px;
    max-width: 260px;
    min-height: 320px;
    margin: 3em auto 0 auto;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    align-content: space-between;
}
.also img {
    width: 70px;
    margin: 3em auto 0 auto;
}
.also p {
    color: #616161;
}
.also a {
    display: block;
    color: #fff;
    background-color: #75b7a6;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 0 0 4px 4px;
}
.also a:hover {
    text-decoration: none;
    background: #5e9285;
}





.orange {
    padding: 1em 0;
    background-color: #f0c852;
}




/* BGCAR */
.bgcar .bgcarimg {
    background: url(../img/bg_2.jpg) right no-repeat;
    background-size: cover;
    height: 50vh;
    max-height: 250px;
}
.bgcar .container {
    position: relative;
}
.bgcar .row {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.bgcar .col-sm-6 {
    color: #fff;
    background-color: #616161;
}
.bgcar .col-sm-6:last-child {
    color: #0f4359;
    text-transform: uppercase;
    background-color: #f0c852;
}
.bgcar .col-sm-6 h4 {
    padding: 1em;
    margin:  0;
}
@media (min-width: 768px) {     
    .bgcar .col-sm-6 h4 {
        padding: 0.4em 0 0.4em 1em;
        margin:  auto;
    }
    .bgcar .bgcarimg {
        min-height: 260px;
        height: 70vh;
        max-height: 1600px;
    }
}




/* COMPARE */
.compare .col-sm-4 {
    height: 100%;
}
.compare img {
    margin-bottom: 1em;
}
.compare .col-sm-2 {
    height: 200px;
    background-image: url(../img/line.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.compare .withoutLine {
    background: none;
}
.compare .col-sm-4:after {
  content:""; 
  background: #aeaeae; 
  position: absolute; 
  bottom: 0; 
  left: 1em; 
  width: 50%; 
  height: 1px;
}





/* HIGHTLEVEL */
.hightLevel {
    padding: 4em 0;
    background: #f3f3f3;
}
.hightLevel .col-md-6 p {
    color: #616161;
    margin-left: 2em;
    margin-bottom: 2em;
}
.hightLevel .col-md-6 p:after {
  margin-top: 1em;
  content:""; 
  display: block;
  background: #aeaeae; 
  width: 50%; 
  height: 1px;
}
.hightLevel .social {
    margin-left: 3em;
    margin-bottom: 3em;
}

.hightLevel .col-md-4 {
    background: url(../img/form_bg.png) center bottom no-repeat;
    background-size: cover;
    height: 685px;
    border-top: 11px solid #f1c953;
    padding: 0 10px;
}
.hightLevel .col-md-4:before {
  position: absolute;
    left: 0;
  content:""; 
  display: block;
  background: #f1c953;
  width: 11px; 
  height: 95%;
}
.hightLevel .col-md-4:after {
  position: absolute;
right: 0;
  content:""; 
  display: block;
  background: #f1c953; 
  width: 11px; 
  height: 95%;
}
.border-bottomDarkCyan {
    border-bottom: 1px solid #5e9285; 
}
.border-bottomDarkCyan:after {
    margin-top: 0.5em;
  content:""; 
  display: block;
  background: #5e9285; 
  width: 100%; 
  height: 1px;
}
.hightLevel p {
    color: #323638;
}
.hightLevel .cyan {
    background-color: #75b7a6;
    position: relative;
    padding: 0 2em;
    margin-bottom: 80px;
}
.hightLevel .cyan:after {
    position: absolute;
    left: 0;
    display: block;
    content: "";
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 125px solid transparent;
	border-top: 50px solid #75b7a6;
}
label {
    color: #616161;
    font-family: Light, sans-serif;
}
.form-control:focus {
    border-color: #f1c953;
}
form .btn-success, .hightLevel .btn-success{
    font-size: 14px;
    padding: 1em;
}
.hightLevel form .btn-success {
    margin-top: 50px;
}




/* MODALS */


/* FORM */
.modal {
    background: rgba(15,67,89,0.8);
}
.close {
    position: absolute;
    right: -30px;
    color: #ff5454;
    font-family: Regular, sans-serif;
    font-weight: 900;
}
.modal-content {
    border: 6px solid #f1c953;
}
.form-modal-md .modal-content:after {
    position: absolute;
    left: 0;
    display: block;
    content: "";
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 125px solid transparent;
	border-top: 50px solid #fff;
}
.form-modal-md  .modal-content:before {
    position: absolute;
    left: -6px;
    bottom: -60px;
    display: block;
    content: "";
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 150px solid transparent;
	border-top: 60px solid #f1c953;
}
.form-modal-md .cyanmodal {
    background-color: #75b7a6;
    position: relative;
    padding: 1em;
    margin: 0 auto 1em auto;
}
.modal-content form {
    padding: 0 1em;
    margin: 1em auto;
}







/* THNX */
.modal .thnx-media .media-object {
    margin: 2em;
} 
.modal .thnx-media .media-body {
    padding: 2em;
    position: relative;
}
.thnx-modal-md .border-bottomGray {
    font-size: 15px;
    color: #a0a0a0;
}
.thnx-modal-md .border-bottomGray:after {
  content:""; 
  background: #aeaeae; 
  position: absolute; 
  bottom: 1.5em; 
  left: 2em; 
  width: 40%; 
  height: 1px;
}
.modal-content:after {
    position: absolute;
    left: 0;
    display: block;
    content: "";
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 125px solid transparent;
	border-top: 50px solid #75b7a6;
}
.modal-content:before {
    position: absolute;
    left: -6px;
    bottom: -60px;
    display: block;
    content: "";
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 150px solid transparent;
	border-top: 60px solid #f1c953;
}
.thnx-modal-md .cyanmodal img {
    margin: 1em;
}
.cyanmodal {
    background-color: #75b7a6;
    position: relative;
    padding: 1em;
    margin: 0 auto;
}



/* STANDARTS */
.standarts {
    position: relative;
    padding: 1em;
}
.border-bottomGray:after {
  content:""; 
  background: #aeaeae; 
  position: absolute; 
  bottom: 1em; 
  left: 2em; 
  width: 40%; 
  height: 1px;
}
